= render 'crud_nav_menu'
%table.table
  %tr
    %td.width-100.align-middle= image_tag(url_for(@menu_item.photo), alt: @menu_item.name, class: 'photo') if @menu_item.photo.attached?
    %td
      %span.name
        = @menu_item.name
        = render partial: 'veg', locals: {menu_item: @menu_item}
      %span.size.float-right
        = render 'size', size: @menu_item.size.downcase
        .category= @menu_item.category
      .description= @menu_item.description
      - @menu_item.toppings.each do |topping|
        .topping.badge.badge-success{class: ("badge-danger" unless topping.veg)}
          = topping.name
    %td.price
      <i class="fas fa-rupee-sign"></i>
      = @menu_item.price