!!!
%html
  %head
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Gochi+Hand&family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0d2d758073.js" crossorigin="anonymous"></script>
    = favicon_link_tag asset_path('favicon.png')
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "Rohit's practice website. He uses this website to sharpen his web development skills", :name => "description"}
    %meta{:content => "", :name => "abstract"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title PizzaRestaurant
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render "layouts/navbar"
    - # Given margin-top of 56px
    .content.container
      - flash.each do |name, message|
        <div class="alert #{name} alert-info alert-#{name}">#{message}</div>
      = yield
    = render "layouts/footer"
